<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <title>图书馆-书籍列表</title>
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">图书借阅系统-书籍列表</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/books/list">书籍列表</a></li>
                    {{if isLogined}}
                    <li><a href="/user/user_info">个人中心</a></li>
                    {{/if}}
                </ul>
                {{if isLogined}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a onclick="logOut()" href="javascript:void(0)"><i class="glyphicon glyphicon-log-out"></i>[退出]</a>
                    </li>
                </ul>
                {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/login">登陆</a></li>
                            <li><a href="/user/reg">注册</a></li>
                        </ul>
                    </li>
                </ul>
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                <input type="text" id="txtKeyWord" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="btnSearch"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">图书列表</h3>
                    </div>
                    <div class="panel-body">
                        <div id="mainContainer" class="row">
                        </div>
                        <button id="btnLoadMore" type="button" class="btn btn-block btn-danger">加载更多</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(function() {
            var _currentPage = 0 //当前页
            loadData()

            $('#btnLoadMore').click(() => {
                loadData()
            })

            var _searchKeyWord = ''
            $('#btnSearch').click(() => {
                _searchKeyWord = $('#txtKeyWord').val().trim()
                $('#mainContainer').html('')
                _currentPage = 0
                loadData()
            })

            function loadData() {
                _currentPage += 1
                $.ajax({
                    method: 'get',
                    url:'/books/get_data/'+_currentPage,
                    dataType: 'json',
                    data:{keyWord:_searchKeyWord},//传递查询条件到服务器端
                    success: function(data) {
                        if (data.status === 'n') {
                            alert(data.msg)
                            return
                        }
                        console.log(data.data[0].author.length)
                        let strHtml = ''
                        data.data.forEach((item) => {
                            strHtml += `<div class="book-item col-sm-3">
                                <div class="thumbnail">
                                    <img src="${item.img}" alt="${item.title}">
                                    <div class="caption">
                                        <h3>${item.title.length > 9 ? item.title.substring(0, 8) + "..." : item.title}</h3>
                                        <p>${item.author.length>12 ? item.title.substring(0, 11) + "..." : item.author}</p>
                                        <p>￥${item.price}元</p>
                                        <p>
                                            <a href="javascript:void(0)" onclick="doPick('${item._id}')" class="btn btn-primary">借阅</a>
                                        </p>
                                    </div>
                                </div>
                            </div>`
                        })
                        $('#mainContainer').append(strHtml)
                    },
                    error: function (err) {
                        console.dir(err)
                    }
                })
            }
        })
    </script>
</body>
</html>
