<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">学生图书借阅系统</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/books/list">书籍列表</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户中心 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/user/login">登陆</a></li>
                            <li><a href="/user/reg">注册</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">用户注册</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="dataForm" method="post" action="/user/reg/{{ data.id }}">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">用户名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="user_name" placeholder="请输入你的用户名" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">密码</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="请输入你的密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">确认密码</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" name="rePWD" id="rePWD" placeholder="请再次输入你的密码" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">姓名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="name" placeholder="姓名" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">性别</label>
                            <div class="col-sm-5">
                                <label><input type="radio" checked name="gender" value="男">男</label>
                                <label><input type="radio" name="gender" value="女">女</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">出生日期</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control form_datetime" onClick="WdatePicker()" name="birthday" placeholder="请选择出生日期" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">手机号</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="mobile" placeholder="请输入手机号" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">邮箱</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="email" placeholder="请输入邮箱" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">地址</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="address" placeholder="请输入住址信息" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary">注册</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/lib/jquery-1.9.1.js"></script>
    <script src="/lib/jquery.validate.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/messages_zh.js"></script>
    <script src="/js/common.js"></script>
    <script src="/lib/my97DatePicker/WdatePicker.js"></script>
    <script src="/js/user/reg.js"></script>
    <script>
    $(function(){
        $('input[name="gender"]').prop('checked',false)
        {{if data.gender}}
        $('input[name="gender"][value="{{data.gender}}"]').prop('checked',true)
        {{else}}
        $('input[name="gender"]').first().prop('checked',true)
        {{/if}}

    })
    </script>
</body>
</html>
