<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书借阅系统登陆</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
    111212
    <script src="/lib/jquery-1.9.1.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/jquery.cookie.min.js"></script>
    <script>
        function logOut(){
            $.removeCookie('user_id',{path:'/'}); //清除cookie
            window.location.href = '/user/login' //页面跳转
        }
    </script>
</body>
</html>
